* { box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}

input,
button {
  &:focus { outline: none; }
}

.page {
  &-transition {
    &-enter { animation: fade-in ease 2000ms forwards; }

    @keyframes fade-in {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
  }
}